.project {
  background: white;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem 0 2rem;
  }

  &__wrap {
    padding: 2rem;
  }

  &__create {
    background: #2bc48a;
    color: white;
    padding: 0 1rem;
    height: 3rem;
    border-radius: 4px;
    border: 1px solid #2bc48a;
  }

  &__user {
    border: 1px solid #dfe1e6;
    margin-top: 1rem;
  }

  &__des {
    font-size: 1.2rem;
    color: #626f86;
    margin-top: 1rem;
  }

  &__key {
    background: #6454c0;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
  }

  &__con {
    position: relative;
    padding-bottom: 5rem;
  }

  &__bot {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -76px);
    background: white;
    width: 75.5rem;
    padding-top: 1rem;
    border-top: 1px solid #ddebff;
  }
}

.ant-table-wrapper {
  background: white;
}
.ant-table-wrapper :deep(.ant-table-thead > tr > th) {
  font-size: 1.4rem;
  font-weight: 500;
  color: #44546f;
  background: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dfe1e6;
}

.ant-table-wrapper :deep(.ant-table-tbody > tr > td) {
  font-size: 1.4rem;
  color: #44546f;
  padding: 0;
  height: 5.2rem;
  padding-left: 1.6rem;
  padding-right: 1rem;

  a {
    color: #1c9e6d;
  }
}

.ant-input-search :deep(.ant-input-wrapper) {
  .ant-input-group-addon {
    border: none;
  }

  input,
  button {
    border: none;
    outline: none;
  }

  input {
    padding: 5px 11px;
  }
}

.ant-input-search {
  border: 2px solid #dfe1e6;
  border-radius: 4px;
}

.project__filter .ant-select :deep(.ant-select-selector) {
  background: #091e420f;
  border: none;
  height: 3.6rem;
  border-radius: 4px;

  .ant-select-selection-item {
    font-size: 1.4rem;
    font-weight: 500;
    color: #44546f;
    line-height: 37px;
  }
}

.calender__icon {
  width: 1.5rem;
  height: 1.5rem;
}

label {
  display: block;
  font-size: 1.3rem;
  color: #44546f;
  font-weight: 500;
  padding-bottom: 0.5rem;
}

.project__form {
  input,
  textarea {
    border-width: 1px;
  }

  .ant-picker {
    border-width: 1px;
  }

  .ant-select {
    width: 100%;
  }
}

.project__form .ant-select :deep(.ant-select-selector) {
  border-width: 1px;
  height: 34px;
}

.project__user .ant-select {
  width: 100%;
}

.calender__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.ant-btn-primary {
  background-color: #209653;

  &:hover {
    background: #209653;
  }
}

.ant-form {
  height: 45rem;
  overflow: auto;
}

.select {
  &__icon {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
  }

  &__project {
    background: #e9e6ff;
  }

  &__company {
    background: #ddebff;
  }
}

textarea::placeholder {
  font-style: italic;
}

.error{
  color: red;
}