.page {
  background: #fbfcfe;
  height: 86vh;
  padding: 2rem;
  padding-top: 7rem;

  &__container {
    padding: 2rem;
    background: white;
    border: 1px solid #f1f1f3;
    border-radius: 10px;
  }
}

label {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  color: #44546f;
  margin-bottom: 1rem;
}

.ant-btn-primary {
  background-color: #2bc48a;

  &:hover {
    background: #2bc48a;
  }
}
.ant-select-multiple :deep(.ant-select-selection-item) {
  background: #455964;
  color: white;
  
  .ant-select-selection-item-remove {
    color: white;
  }
}
