.ant-table-wrapper {
  height: calc(100% - 40px);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 5px;
    background: #fff !important;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #bdbdbd !important;
    border-radius: 20px;
    border: 5px solid #bdbdbd;
  }
}

.ant-table-wrapper :deep(.ant-spin-nested-loading) {
  height: 100%;
}

.ant-table-wrapper :deep(.ant-spin-container) {
  height: 100%;
}

.ant-table-wrapper :deep(.ant-table) {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.ant-table-wrapper :deep(.ant-table-container) {
  height: 100%;
}

.ant-table-wrapper :deep(.ant-table-body) {
  height: 100% !important;
}

.ant-table-wrapper :deep(.ant-table-thead > tr > th) {
  text-align: center;
}

.ant-table-wrapper :deep(.ant-table-tbody > tr > td) {
  text-align: center;
}

.ant-table-wrapper :deep(.ant-table-footer) {
  border-top: 1px solid #f0f0f0;
  background: white;
}

.active {
  color: $darkgray-color;
  border: 1px solid $darkgray-color;
  background: white;
}

th.column-money,
td.column-money {
  text-align: right !important;
}
