$border-style: 1px solid rgb(196 196 196 / 50%);
.menu {
  display: flex;
  flex-direction: column;

  &__item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;

    &:hover {
      background-color: #ffffff18;

      .item__name {
        color: #2bc48a;
      }
    }

    a .router-link-exact-active {
      color: #2bc48a;
      .item__name {
        color: #2bc48a !important;
      }
    }
  }
}

a.router-link-active {
  color: aqua;
}

.item {
  &__img {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 2rem;

    img {
      width: 20px;
      height: 20px;
      margin-right: 2rem;
    }
  }

  &__name {
    font-size: 1.4rem;
    color: white;
  }

  &__arrow {
    padding-right: 2rem;
    img {
      width: 1.4rem;
      height: 1.4rem;
    }
  }
}

.logo {
  padding-left: 2rem;
  padding-top: 1rem;

  h1 {
    font-size: 3.2rem;
    letter-spacing: 1rem;
    color: #2bc48a;
    font-weight: bold;
  }
}
