.profile {
  height: 100%;
  //   width: 100%;
  background: white;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.account,
.main {
  max-width: 45%;
  width: 55rem;
}

.other {
  width: 100%;
}

.account,
.main,
.other {
  border: 1px solid #c1c7d0;
  border-radius: 0.5rem;
  position: relative;
  height: max-content;
  padding: 2rem;

  h1 {
    position: absolute;
    font-size: 1.5rem;
    color: #172b4d;
    background: white;
    top: -10%;
    left: 2%;
  }
}

.account {
  &__avatar {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    border: 1px solid #2bc48a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3rem 0 1rem;
    img {
      width: 8.8rem;
      height: 8.8rem;
      border-radius: 50%;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__box {
    display: flex;
    align-items: center;
    margin: 1rem 0;

    &--name {
      font-size: 1.4rem;
      color: #172b4d;
      width: 15rem;
    }

    input {
      width: 100%;
    }
  }
}

.tabs {
  background: white;
  padding: 0 2rem;
}
