.header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__rou {
    font-weight: 600;
    font-size: 1.5rem;
    color: #2a3e4c;
    margin-left: 2rem;
  }

  &__setting {
    margin-right: 2rem;
    background: white;
  }
}

.setting {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  padding: 1rem;

  &__avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }

  &__name {
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  &__item {
    border-bottom: 1px solid #f0f0f0;
    height: 4rem;
  }

  &__item,
  &__log {
    cursor: pointer;
    color: #5e6c84;
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
  }

  &__log {
    padding-top: 1rem;
  }

  &__box {
    width: 20rem;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 1rem;

    img {
      width: 3.5rem;
      height: 3.5rem;
    }

    h4 {
      font-size: 1.4rem;
      color: #2a3e4c;
    }

    p {
      font-size: 1.3rem;
      color: #5e6c84;
    }
  }
}

.ant-popover :deep(.ant-popover-inner-content) {
  padding: 0;
  font-size: 16px;
}

.ant-dropdown :deep(.ant-dropdown-content) {
  font-size: 16px;
}

.modal {
  &__header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    // background: #2bc48a;

    h3 {
      font-size: 1.6 rem;
      // color: white
    }

    img {
      cursor: pointer;
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      right: 1.5rem;
    }
  }

  &__content {
    font-family: "Poppins", sans-serif;

    .box {
      margin-bottom: 2rem;
      h4 {
        font-size: 1.4rem;
        color: #44546f;
        margin-bottom: 5px;
      }

      input {
        border-radius: 5px;
        border-width: 2px;
      }
    }
  }

  &__action {
    display: flex;
    justify-content: center;
  }

  &__btn {
    background: #2bc48a;
    color: white;
    font-size: 1.5rem;
    border: 1px solid #2bc48a;
    border-radius: 5px;

    &:hover {
      border: 1px solid #2bc48a;
    }
  }
}

.ant-popover-content {
  height: 300px;
}

.ant-form :deep(.ant-form-item-label) {
  label {
    color: #44546f;
    font-weight: 400;
  }
}

.calender__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.tooltip {
  position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
  // visibility: hidden;
  background: white;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  border: 1px solid #5e6c84;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

// Change Password
label {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  color: #44546f;
}

.note {
  color: #44546f;
}

.ant-form :deep(.ant-input-password) {
  border-radius: 10px;
}

.ant-btn-primary {
  background-color: #2bc48a;

  &:hover {
    background: #2bc48a;
  }
}

//
.noti {
  max-height: 35rem;
  min-height: max-content;
  overflow: auto;
  width: 38rem;

  &__contain {
    display: flex;
    padding: 1rem 0;
    cursor: pointer;
    transition: 0.1s all ease-in-out;

    &:not(:last-child) {
      border-bottom: 1px solid #f0f0f0;
    }

    &:hover {
      transition: 0.1s all ease-in-out;
      background: #f0f0f0;
      border-radius: 5px;
    }
  }

  &__avatar {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;

    img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }
  }

  &__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-weight: 500;
  }

  &__content {
    font-size: 1.3rem;
    color: #65676b;
    width: 100%;
  }

  &__action {
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      border-radius: 10px;
      height: 2.5rem;
      margin-right: 1rem;
    }

    &--select {
      background: #dae7f2;
      color: #1877f2;
    }
  }

  &__s {
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__dot {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #1877f2;
  }

  &__not {
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 2rem;
      height: 2rem;
    }
  }
}

.unseen {
  color: #1877f2;
  font-weight: 500;
}

.ant-tabs :deep(.ant-tabs-tab) {
  padding: 2px;
}
