.page {
  background: #fafbfc;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  padding: 2rem 0;
  background: rgb(255, 255, 255);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  img {
    width: 6rem;
    height: 6rem;
    margin-right: 1rem;
  }

  h1 {
    font-size: 3.8rem;
    font-weight: 800;
    color: #2bc48a;
    letter-spacing: 1rem;
  }

  label {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    color: #44546f;
    margin-bottom: 5px;
  }

  input {
    border-width: 2px;
  }

  &__btn {
    background: #2bc48a;
    border: none;
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    border: 1px solid #2bc48a;
    width: 60%;
    margin-top: 1rem;

    &:hover {
      border: 1px solid #2bc48a;
      background: white;
      color: #2bc48a;
    }

    .ant-btn {
      padding: 0;
    }
  }
}

.ant-form-item-control-input {
  width: 100%;
}

.ant-form-item-control {
  font-size: 2rem;
}

.login-form-forgot {
  color: #2bc48a;

  &:hover {
    transition: 0.1s all linear;
  }
}

.ant-form {
  width: 100%;
  padding: 0 4rem;
}

.ant-form-item :deep(.ant-form-item-control) {
  width: 100%;

  .ant-input-password {
    border-width: 2px;
  }

  .ant-form-item-label {
    font-size: 1.5rem;
    color: #44546f;
    font-weight: 500;
  }
}
