.userAction {
  &__item {
    border-radius: 14px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.action {
  &__item {
    border-radius: 20px;
    background: $darkgray-color;
    color: inherit;
    border: $darkgray-color;
    width: 100px;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.ant-input {
  display: none;
  transition: 0.2s all linear;
}

.inputActive {
  display: block;
  transition: 0.2s all linear;
}

.headline {
  height: 80px;
}

.content {
  height: calc(100% - 80px);
  overflow: auto;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 300;
  width: 400px;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  background: #eceef0;
  border-radius: 10px;
}
