// Detail user

.box {
  position: relative;
  border: 1px solid #c1c7d0;
  border-radius: 1rem;
  min-height: 5rem;
  padding: 2rem;

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__top {
    width: 45%;

    &--wrap {
      display: flex;
      justify-content: space-between;
    }
  }

  &__title {
    position: absolute;
    font-size: 1.4rem;
    color: #172b4d;
    top: -14px;
    margin-left: 16px;
    padding: 1px 5px;
    background: white;
  }

  &__name {
    font-size: 1.4rem;
    color: #172b4d;
    margin-bottom: 4px;
  }

  &__img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 1px solid #2bc48a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;

    img {
      width: 9.5rem;
      height: 9.5rem;
      border-radius: 50%;
    }
  }

  &__container {
    position: relative;
    padding-bottom: 5rem;
  }

  &__save {
    position: fixed;
    z-index: 9999;
    width: 100%;
    bottom: 0;
    background: white;
    border-top: 1px solid #c1c7d0;
    height: 4.2rem;
    display: flex;
    align-items: center;
  }
 
  &__btn {
    height: 3.2rem;
    background: #2bc48a;
    color: white;
    font-size: 1.5rem;
    border: 1px solid #2bc48a;
    border-radius: 5px;

    &:hover {
      border: 1px solid #2bc48a;
    }
  }
}

.ant-form :deep(.ant-col) {
  display: flex;
}

.ant-table-wrapper :deep(.ant-table-container) {
  height: 100%;
}

.ant-table-wrapper :deep(.ant-table-body) {
  height: 100% !important;
}

.ant-table-wrapper :deep(.ant-table-thead > tr > th) {
  text-align: center;
}

.ant-table-wrapper :deep(.ant-table-thead) {
  height: 2.5rem;
  background: white;
  .ant-table-cell {
    padding: 5px;
  }
}

.ant-table-wrapper :deep(.ant-table-tbody) {
  height: 2.5rem;
  background: white;
  .ant-table-cell {
    padding: 5px;
  }
}

.ant-table-wrapper :deep(.ant-table-tbody > tr > td) {
  text-align: center;
}

.ant-table-wrapper :deep(.ant-table-footer) {
  border-top: 1px solid #f0f0f0;
  background: white;
}

.active {
  color: $darkgray-color;
  border: 1px solid $darkgray-color;
  background: white;
}

th.column-money,
td.column-money {
  text-align: right !important;
}

.ant-table-wrapper {
  border: 1px solid #f0f0f0;
}

label {
  font-size: 1.4rem;
  color: #44546f;
  font-weight: 500;
}

.ant-form :deep(.ant-form-item-label) {
  label {
    font-size: 1.4rem;
    color: #44546f;
    font-weight: 500;
  }
}

.calender__icon {
  width: 1.5rem;
  height: 1.5rem;
}
