#__main {
  height: 100%;
  display: flex;
  font-family: "Poppins", sans-serif;
  background: #edf1f5;
}

#__content {
  overflow: auto;
  width: 100%;
  padding-top: 5rem;
  background: #f7f8f9;
}

#__menu {
  background: #2a3e4c;
  width: 25rem;
}

.header {
  cursor: pointer;
  position: fixed;
  top: 0;
  height: 5rem;
  background: white;
  width: calc(100% - 25rem);
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  z-index: 999;

  &__rou {
    font-weight: 600;
    font-size: 1.5rem;
    color: #2a3e4c;
  }
}

.setting {
  display: flex;
  align-items: center;
  font-size: 1.4rem;

  &__avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }

  &__name {
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  &__item {
    border-bottom: 1px solid #f0f0f0;
    height: 4rem;
  }

  &__item,
  &__log {
    cursor: pointer;
    color: #5e6c84;
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
  }

  &__log {
    padding-top: 1rem;
  }

  &__box {
    width: 20rem;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 1rem;

    img {
      width: 3.5rem;
      height: 3.5rem;
    }

    h4 {
      font-size: 1.4rem;
      color: #2a3e4c;
    }

    p {
      font-size: 1.3rem;
      color: #5e6c84;
    }
  }
}

.ant-popover :deep(.ant-popover-inner-content) {
  padding: 0;
  font-size: 16px;
}

.ant-dropdown :deep(.ant-dropdown-content) {
  font-size: 16px;
}

.modal {
  &__header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background: #2bc48a;

    h3 {
      font-size: 1.6 rem;
      color: white;
    }

    img {
      cursor: pointer;
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      right: 1.5rem;
    }
  }

  &__content {
    padding: 2rem;
    font-family: "Poppins", sans-serif;

    .box {
      margin-bottom: 2rem;
      h4 {
        font-size: 1.4rem;
        color: #44546f;
        margin-bottom: 5px;
      }

      input {
        border-radius: 5px;
        border-width: 2px;
      }
    }
  }

  &__action {
    display: flex;
    justify-content: center;
  }

  &__btn {
    background: #2bc48a;
    color: white;
    font-size: 1.5rem;
    border: 1px solid #2bc48a;
    border-radius: 5px;

    &:hover {
      border: 1px solid #2bc48a;
    }
  }
}

.ant-popover-content {
  height: 300px;
}

.ant-form :deep(.ant-form-item-label) {
  label {
    color: #44546f;
    font-weight: 400;
  }
}

.calender__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.tooltip {
  position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
  // visibility: hidden;
  background: white;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  border: 1px solid #5e6c84;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
